        <p-dialog [(visible)]="editFreeTrialStudentEmailTemplateDialog" [style]="{width: '70vw'}"
                header="Free trial student email template" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Free trial student email template">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Object</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Object"
                                                   id="1" [(ngModel)]="selectedFreeTrialStudentEmailTemplate.object"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Corps</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                                      placeholder="Corps"  [(ngModel)]="selectedFreeTrialStudentEmailTemplate.corps"
                                                     ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Source</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Source"
                                                   id="3" [(ngModel)]="selectedFreeTrialStudentEmailTemplate.source"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
