
<p-dialog [(visible)]="viewTeacherDialog" [style]="{width: '70vw'}"
        header="" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle" autofocus
                                           id="1" [(ngModel)]="selectedTeacher.libelle">
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code" autofocus
                                           id="2" [(ngModel)]="selectedTeacher.code">
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Email</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Email" autofocus
                                           id="3" [(ngModel)]="selectedTeacher.email">
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Phone</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Phone" autofocus
                                           id="4" [(ngModel)]="selectedTeacher.phone">
                                </div>



                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

</p-dialog>



