
<p-dialog [(visible)]="viewServicesDialog" [style]="{width: '70vw'}"
        header="" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code" autofocus
                                           id="1" [(ngModel)]="selectedServices.code">
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle" autofocus
                                           id="2" [(ngModel)]="selectedServices.libelle">
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Description</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true"
                                              placeholder="Description"  [(ngModel)]="selectedServices.description"
                                    ></textarea>
                                </div>

                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

</p-dialog>



