        <p-dialog [(visible)]="editServicesDialog" [style]="{width: '70vw'}"
                header="Services" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Services">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Code<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code"
                                                   id="1" [(ngModel)]="selectedServices.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validServicesCode}"  />
                                            <small class='p-error' *ngIf='!validServicesCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="2" [(ngModel)]="selectedServices.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validServicesLibelle}"  />
                                            <small class='p-error' *ngIf='!validServicesLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Description</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedServices.description"
                                                     ></textarea>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
